In [1]:
import pandas as pd

In [66]:
players = pd.DataFrame.from_csv('all_players.csv')

In [3]:
players.head()

,TEAM_CITY,GAMES_PLAYED_FLAG,TEAM_CODE,TO_YEAR,TEAM_NAME,PLAYERCODE,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,PERSON_ID,FROM_YEAR,TEAM_ABBREVIATION,ROSTERSTATUS,FT_RATE15,FT_RATE14,FT_RATE13
TEAM_ID,,,,,,,,,,,,,,,
1610612758,Sacramento,Y,kings,2016,Kings,quincy_acy,Quincy Acy,"Acy, Quincy",203112,2012,SAC,1,NaN,NaN,NaN
1610612763,Memphis,Y,grizzlies,2016,Grizzlies,jordan_adams,Jordan Adams,"Adams, Jordan",203919,2014,MEM,1,NaN,NaN,NaN
1610612760,Oklahoma City,Y,thunder,2016,Thunder,steven_adams,Steven Adams,"Adams, Steven",203500,2013,OKC,1,NaN,NaN,NaN
1610612749,Milwaukee,Y,bucks,2014,Bucks,jeff_adrien,Jeff Adrien,"Adrien, Jeff",202399,2010,MIL,1,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016,Knicks,arron_afflalo,Arron Afflalo,"Afflalo, Arron",201167,2007,NYK,1,NaN,NaN,NaN

In [4]:
import nbawebstats as nbaws

In [5]:
def ft_rate(playerid, season):
    career_stats = nbaws.request_stats('player-career-stats', {'PlayerID': playerid})
    by_season = dict(career_stats)['season-totals-regular']
    for year in by_season:
        if int(year['SEASON_ID'][2:4]) == season:
            return year['FT_PCT']
    return -1

In [12]:
players.iloc[0]['PERSON_ID']

203112

In [35]:
head = players.head()

In [21]:
rows = head.itertuples()

In [26]:
numrows = players.shape[0]

In [27]:
numrows

697

In [29]:
playerid = players.iloc[0]['PERSON_ID']

In [40]:
players

,TEAM_CITY,GAMES_PLAYED_FLAG,TEAM_CODE,TO_YEAR,TEAM_NAME,PLAYERCODE,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,PERSON_ID,FROM_YEAR,TEAM_ABBREVIATION,ROSTERSTATUS,FT_RATE15,FT_RATE14,FT_RATE13
TEAM_ID,,,,,,,,,,,,,,,
1610612758,Sacramento,Y,kings,2016,Kings,quincy_acy,Quincy Acy,"Acy, Quincy",203112,2012,SAC,1,NaN,NaN,NaN
1610612763,Memphis,Y,grizzlies,2016,Grizzlies,jordan_adams,Jordan Adams,"Adams, Jordan",203919,2014,MEM,1,NaN,NaN,NaN
1610612760,Oklahoma City,Y,thunder,2016,Thunder,steven_adams,Steven Adams,"Adams, Steven",203500,2013,OKC,1,NaN,NaN,NaN
1610612749,Milwaukee,Y,bucks,2014,Bucks,jeff_adrien,Jeff Adrien,"Adrien, Jeff",202399,2010,MIL,1,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016,Knicks,arron_afflalo,Arron Afflalo,"Afflalo, Arron",201167,2007,NYK,1,NaN,NaN,NaN
1610612740,New Orleans,Y,pelicans,2016,Pelicans,alexis_ajinca,Alexis Ajinca,"Ajinca, Alexis",201582,2008,NOP,1,NaN,NaN,NaN
1610612755,Philadelphia,Y,sixers,2014,76ers,furkan_aldemir,Furkan Aldemir,"Aldemir, Furkan",203128,2014,PHI,1,NaN,NaN,NaN
1610612746,LA,Y,clippers,2016,Clippers,cole_aldrich,Cole Aldrich,"Aldrich, Cole",202332,2010,LAC,1,NaN,NaN,NaN
1610612759,San Antonio,Y,spurs,2016,Spurs,lamarcus_aldridge,LaMarcus Aldridge,"Aldridge, LaMarcus",200746,2006,SAS,1,NaN,NaN,NaN
1610612757,Portland,Y,blazers,2016,Trail Blazers,cliff_alexander,Cliff Alexander,"Alexander, Cliff",1626146,2015,POR,1,NaN,NaN,NaN
1610612754,Indiana,Y,pacers,2016,Pacers,lavoy_allen,Lavoy Allen,"Allen, Lavoy",202730,2011,IND,1,NaN,NaN,NaN
1610612748,Miami,Y,heat,2013,Heat,ray_allen,Ray Allen,"Allen, Ray",951,1996,MIA,1,NaN,NaN,NaN
1610612763,Memphis,Y,grizzlies,2016,Grizzlies,tony_allen,Tony Allen,"Allen, Tony",2754,2004,MEM,1,NaN,NaN,NaN
1610612757,Portland,Y,blazers,2016,Trail Blazers,al-farouq_aminu,Al-Farouq Aminu,"Aminu, Al-Farouq",202329,2010,POR,1,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016,Knicks,lou_amundson,Lou Amundson,"Amundson, Lou",200811,2006,NYK,1,NaN,NaN,NaN
1610612763,Memphis,Y,grizzlies,2016,Grizzlies,chris_andersen,Chris Andersen,"Andersen, Chris",2365,2001,MEM,1,NaN,NaN,NaN
1610612764,Washington,Y,wizards,2016,Wizards,alan_anderson,Alan Anderson,"Anderson, Alan",101187,2005,WAS,1,NaN,NaN,NaN
1610612758,Sacramento,Y,kings,2015,Kings,james_anderson,James Anderson,"Anderson, James",202341,2010,SAC,1,NaN,NaN,NaN
1610612742,Dallas,Y,mavericks,2016,Mavericks,justin_anderson,Justin Anderson,"Anderson, Justin",1626147,2015,DAL,1,NaN,NaN,NaN
1610612759,San Antonio,Y,spurs,2016,Spurs,kyle_anderson,Kyle Anderson,"Anderson, Kyle",203937,2014,SAS,1,NaN,NaN,NaN
1610612740,New Orleans,Y,pelicans,2016,Pelicans,ryan_j_anderson,Ryan Anderson,"Anderson, Ryan",201583,2008,NOP,1,NaN,NaN,NaN
1610612749,Milwaukee,Y,bucks,2016,Bucks,giannis_antetokounmpo,Giannis Antetokounmpo,"Antetokounmpo, Giannis",203507,2013,MIL,1,NaN,NaN,NaN
0,NaN,Y,NaN,2015,NaN,thanasis_antetokounmpo,Thanasis Antetokounmpo,"Antetokounmpo, Thanasis",203648,2015,NaN,0,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016,Knicks,carmelo_anthony,Carmelo Anthony,"Anthony, Carmelo",2546,2003,NYK,1,NaN,NaN,NaN
1610612765,Detroit,Y,pistons,2016,Pistons,joel_anthony,Joel Anthony,"Anthony, Joel",201202,2007,DET,1,NaN,NaN,NaN
1610612737,Atlanta,Y,hawks,2014,Hawks,pero_antic,Pero Antic,"Antic, Pero",203544,2013,ATL,1,NaN,NaN,NaN
0,NaN,Y,NaN,2015,NaN,keith_appling,Keith Appling,"Appling, Keith",203951,2015,NaN,0,NaN,NaN,NaN
1610612745,Houston,Y,rockets,2016,Rockets,trevor_ariza,Trevor Ariza,"Ariza, Trevor",2772,2004,HOU,1,NaN,NaN,NaN
1610612744,Golden State,Y,warriors,2013,Warriors,hilton_armstrong,Hilton Armstrong,"Armstrong, Hilton",200756,2006,GSW,1,NaN,NaN,NaN
1610612743,Denver,Y,nuggets,2016,Nuggets,darrell_arthur,Darrell Arthur,"Arthur, Darrell",201589,2008,DEN,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610612766,Charlotte,Y,hornets,2013,Bobcats,dj_white,DJ White,"White, DJ",201591,2008,CHA,1,NaN,NaN,NaN
0,NaN,Y,NaN,2013,NaN,royce_white,Royce White,"White, Royce",203091,2012,NaN,0,NaN,NaN,NaN
1610612748,Miami,Y,heat,2016,Heat,hassan_whiteside,Hassan Whiteside,"Whiteside, Hassan",202355,2010,MIA,1,NaN,NaN,NaN
1610612754,Indiana,Y,pacers,2015,Pacers,shayne_whittington,Shayne Whittington,"Whittington, Shayne",203963,2014,IND,1,NaN,NaN,NaN
1610612750,Minnesota,Y,timberwolves,2016,Timberwolves,andrew_wiggins,Andrew Wiggins,"Wiggins, Andrew",203952,2014,MIN,1,NaN,NaN,NaN
1610612746,LA,Y,clippers,2016,Clippers,cj_wilcox,CJ Wilcox,"Wilcox, CJ",203912,2014,LAC,1,NaN,NaN,NaN
1610612756,Phoenix,Y,suns,2016,Suns,alan_williams,Alan Williams,"Williams, Alan",1626210,2015,PHX,1,NaN,NaN,NaN
1610612742,Dallas,Y,mavericks,2016,Mavericks,deron_williams,Deron Williams,"Williams, Deron",101114,2005,DAL,1,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016,Knicks,derrick_williams,Derrick Williams,"Williams, Derrick",202682,2011,NYK,1,NaN,NaN,NaN
0,NaN,Y,NaN,2016,NaN,elliot_williams,Elliot Williams,"Williams, Elliot",202343,2010,NaN,0,NaN,NaN,NaN
1610612747,Los Angeles,Y,lakers,2016,Lakers,louis_williams,Lou Williams,"Williams, Lou",101150,2005,LAL,1,NaN,NaN,NaN
1610612766,Charlotte,Y,hornets,2016,Hornets,marvin_williams,Marvin Williams,"Williams, Marvin",101107,2005,CHA,1,NaN,NaN,NaN
1610612739,Cleveland,Y,cavaliers,2016,Cavaliers,maurice_williams,Mo Williams,"Williams, Mo",2590,2003,CLE,1,NaN,NaN,NaN
1610612759,San Antonio,Y,spurs,2014,Spurs,reggie_williams,Reggie Williams,"Williams, Reggie",202130,2009,SAS,1,NaN,NaN,NaN
1610612765,Detroit,Y,pistons,2014,Pistons,shawne_williams,Shawne Williams,"Williams, Shawne",200761,2006,DET,1,NaN,NaN,NaN
1610612748,Miami,Y,heat,2016,Heat,justise_winslow,Justise Winslow,"Winslow, Justise",1626159,2015,MIA,1,NaN,NaN,NaN
1610612762,Utah,Y,jazz,2016,Jazz,jeff_withey,Jeff Withey,"Withey, Jeff",203481,2013,UTA,1,NaN,NaN,NaN
1610612749,Milwaukee,Y,bucks,2014,Bucks,nate_wolters,Nate Wolters,"Wolters, Nate",203489,2013,MIL,1,NaN,NaN,NaN
0,NaN,Y,NaN,2014,NaN,nate_wolters,Nate Wolters,"Wolters, Nate",203489,2013,NaN,0,NaN,NaN,NaN
1610612755,Philadelphia,Y,sixers,2016,76ers,christian_wood,Christian Wood,"Wood, Christian",1626174,2015,PHI,1,NaN,NaN,NaN
1610612747,Los Angeles,Y,lakers,2016,Lakers,metta_world_peace,Metta World Peace,"World Peace, Metta",1897,1999,LAL,1,NaN,NaN,NaN
1610612763,Memphis,Y,grizzlies,2016,Grizzlies,brandan_wright,Brandan Wright,"Wright, Brandan",201148,2007,MEM,1,NaN,NaN,NaN
1610612749,Milwaukee,Y,bucks,2013,Bucks,chris_wright,Chris Wright,"Wright, Chris",202874,2011,MIL,1,NaN,NaN,NaN
1610612761,Toronto,Y,raptors,2016,Raptors,delon_wright,Delon Wright,"Wright, Delon",1626153,2015,TOR,1,NaN,NaN,NaN
1610612757,Portland,Y,blazers,2016,Trail Blazers,dorell_wright,Dorell Wright,"Wright, Dorell",2748,2004,POR,1,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016,Knicks,tony_wroten,Tony Wroten,"Wroten, Tony",203100,2012,NYK,1,NaN,NaN,NaN
1610612738,Boston,Y,celtics,2016,Celtics,james_young,James Young,"Young, James",203923,2014,BOS,1,NaN,NaN,NaN
1610612754,Indiana,Y,pacers,2016,Pacers,joe_young,Joe Young,"Young, Joe",1626202,2015,IND,1,NaN,NaN,NaN
1610612747,Los Angeles,Y,lakers,2016,Lakers,nick_young,Nick Young,"Young, Nick",201156,2007,LAL,1,NaN,NaN,NaN
1610612751,Brooklyn,Y,nets,2016,Nets,thaddeus_young,Thaddeus Young,"Young, Thaddeus",201152,2007,BKN,1,NaN,NaN,NaN

In [36]:
head

,TEAM_CITY,GAMES_PLAYED_FLAG,TEAM_CODE,TO_YEAR,TEAM_NAME,PLAYERCODE,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,PERSON_ID,FROM_YEAR,TEAM_ABBREVIATION,ROSTERSTATUS,FT_RATE15,FT_RATE14,FT_RATE13
TEAM_ID,,,,,,,,,,,,,,,
1610612758,Sacramento,Y,kings,2016,Kings,quincy_acy,Quincy Acy,"Acy, Quincy",203112,2012,SAC,1,NaN,NaN,NaN
1610612763,Memphis,Y,grizzlies,2016,Grizzlies,jordan_adams,Jordan Adams,"Adams, Jordan",203919,2014,MEM,1,NaN,NaN,NaN
1610612760,Oklahoma City,Y,thunder,2016,Thunder,steven_adams,Steven Adams,"Adams, Steven",203500,2013,OKC,1,NaN,NaN,NaN
1610612749,Milwaukee,Y,bucks,2014,Bucks,jeff_adrien,Jeff Adrien,"Adrien, Jeff",202399,2010,MIL,1,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016,Knicks,arron_afflalo,Arron Afflalo,"Afflalo, Arron",201167,2007,NYK,1,NaN,NaN,NaN

In [42]:
head.iloc[0]

TEAM_CITY                    Sacramento
GAMES_PLAYED_FLAG                     Y
TEAM_CODE                         kings
TO_YEAR                            2016
TEAM_NAME                         Kings
PLAYERCODE                   quincy_acy
DISPLAY_FIRST_LAST           Quincy Acy
DISPLAY_LAST_COMMA_FIRST    Acy, Quincy
PERSON_ID                        203112
FROM_YEAR                          2012
TEAM_ABBREVIATION                   SAC
ROSTERSTATUS                          1
FT_RATE15                           NaN
FT_RATE14                           NaN
FT_RATE13                           NaN
Name: 1610612758, dtype: object

In [43]:
head.iloc[0]['FT_RATE15'] = 1

/Users/meileng/anaconda3/lib/python3.4/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [44]:
head.set_value(0, 'FT_RATE15', 1)

/Users/meileng/anaconda3/lib/python3.4/site-packages/pandas/core/frame.py:1869: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc[index, col] = value

,TEAM_CITY,GAMES_PLAYED_FLAG,TEAM_CODE,TO_YEAR,TEAM_NAME,PLAYERCODE,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,PERSON_ID,FROM_YEAR,TEAM_ABBREVIATION,ROSTERSTATUS,FT_RATE15,FT_RATE14,FT_RATE13
TEAM_ID,,,,,,,,,,,,,,,
1610612758,Sacramento,Y,kings,2016.0,Kings,quincy_acy,Quincy Acy,"Acy, Quincy",203112.0,2012.0,SAC,1.0,NaN,NaN,NaN
1610612763,Memphis,Y,grizzlies,2016.0,Grizzlies,jordan_adams,Jordan Adams,"Adams, Jordan",203919.0,2014.0,MEM,1.0,NaN,NaN,NaN
1610612760,Oklahoma City,Y,thunder,2016.0,Thunder,steven_adams,Steven Adams,"Adams, Steven",203500.0,2013.0,OKC,1.0,NaN,NaN,NaN
1610612749,Milwaukee,Y,bucks,2014.0,Bucks,jeff_adrien,Jeff Adrien,"Adrien, Jeff",202399.0,2010.0,MIL,1.0,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016.0,Knicks,arron_afflalo,Arron Afflalo,"Afflalo, Arron",201167.0,2007.0,NYK,1.0,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [45]:
type(head.iloc[0])

pandas.core.series.Series

In [59]:
for row in players.iterrows():
    playerid = int(row['PERSON_ID'])
    rate15 = ft_rate(playerid, 15)
    players.set_value('FT_RATE15',rate15)
    rate14 = ft_rate(playerid, 14)
    players.set_value('FT_RATE14',rate14)
    rate13 = ft_rate(playerid, 13)
    players.set_value('FT_RATE13',rate13)
    print(i)

1610612758
1610612763
1610612760
1610612749
1610612752
1610612740
1610612755
1610612746
1610612759
1610612757
1610612754
1610612748
1610612763
1610612757
1610612752
1610612763
1610612764
1610612758
1610612742
1610612759
1610612740
1610612749
0
1610612752
1610612765
1610612737
0
1610612745
1610612744
1610612743
1610612740
1610612743
1610612737
1610612746
1610612738
1610612738
1610612740
1610612765
1610612741
1610612744
1610612742
0
1610612752
1610612744
1610612763
1610612756
1610612743
1610612747
1610612748
1610612766
1610612749
1610612765
1610612737
1610612764
1610612745
1610612758
0
0
1610612745
0
0
1610612765
1610612761
1610612750
1610612747
0
1610612764
1610612765
1610612751
1610612756
1610612747
1610612738
1610612751
1610612744
1610612759
1610612756
1610612762
1610612747
1610612748
1610612738
1610612755
1610612745
1610612741
1610612741
1610612747
1610612747
1610612747
1610612765
1610612751
1610612752
0
0
1610612747
1610612756
1610612765
1610612762
1610612762
1610612758
1610612741
0
1610612764
1610612761
0
1610612754
1610612764
1610612761
1610612763
1610612752
1610612765
1610612755

KeyboardInterrupt:

In [61]:
players.index

Int64Index([1610612758, 1610612763, 1610612760, 1610612749, 1610612752,
            1610612740, 1610612755, 1610612746, 1610612759, 1610612757,
            ...
            1610612747, 1610612763, 1610612749, 1610612761, 1610612757,
            1610612752, 1610612738, 1610612754, 1610612747, 1610612751],
           dtype='int64', name='TEAM_ID', length=697)

In [63]:
for i, row in head.iterrows():
    playerid = int(row['PERSON_ID'])
    rate15 = ft_rate(playerid, 15)
    row.set_value('FT_RATE15',rate15)

ValueError: cannot convert float NaN to integer

In [68]:
head = players.head()

In [69]:
head

,TEAM_CITY,GAMES_PLAYED_FLAG,TEAM_CODE,TO_YEAR,TEAM_NAME,PLAYERCODE,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,PERSON_ID,FROM_YEAR,TEAM_ABBREVIATION,ROSTERSTATUS,FT_RATE15,FT_RATE14,FT_RATE13
TEAM_ID,,,,,,,,,,,,,,,
1610612758,Sacramento,Y,kings,2016,Kings,quincy_acy,Quincy Acy,"Acy, Quincy",203112,2012,SAC,1,NaN,NaN,NaN
1610612763,Memphis,Y,grizzlies,2016,Grizzlies,jordan_adams,Jordan Adams,"Adams, Jordan",203919,2014,MEM,1,NaN,NaN,NaN
1610612760,Oklahoma City,Y,thunder,2016,Thunder,steven_adams,Steven Adams,"Adams, Steven",203500,2013,OKC,1,NaN,NaN,NaN
1610612749,Milwaukee,Y,bucks,2014,Bucks,jeff_adrien,Jeff Adrien,"Adrien, Jeff",202399,2010,MIL,1,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016,Knicks,arron_afflalo,Arron Afflalo,"Afflalo, Arron",201167,2007,NYK,1,NaN,NaN,NaN

In [70]:
for i, row in head.iterrows():
    playerid = int(row['PERSON_ID'])
    rate15 = ft_rate(playerid, 15)
    row.set_value('FT_RATE15',rate15)

In [71]:
head

,TEAM_CITY,GAMES_PLAYED_FLAG,TEAM_CODE,TO_YEAR,TEAM_NAME,PLAYERCODE,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,PERSON_ID,FROM_YEAR,TEAM_ABBREVIATION,ROSTERSTATUS,FT_RATE15,FT_RATE14,FT_RATE13
TEAM_ID,,,,,,,,,,,,,,,
1610612758,Sacramento,Y,kings,2016,Kings,quincy_acy,Quincy Acy,"Acy, Quincy",203112,2012,SAC,1,NaN,NaN,NaN
1610612763,Memphis,Y,grizzlies,2016,Grizzlies,jordan_adams,Jordan Adams,"Adams, Jordan",203919,2014,MEM,1,NaN,NaN,NaN
1610612760,Oklahoma City,Y,thunder,2016,Thunder,steven_adams,Steven Adams,"Adams, Steven",203500,2013,OKC,1,NaN,NaN,NaN
1610612749,Milwaukee,Y,bucks,2014,Bucks,jeff_adrien,Jeff Adrien,"Adrien, Jeff",202399,2010,MIL,1,NaN,NaN,NaN
1610612752,New York,Y,knicks,2016,Knicks,arron_afflalo,Arron Afflalo,"Afflalo, Arron",201167,2007,NYK,1,NaN,NaN,NaN

In [72]:
players = players.set_index('DISPLAY_LAST_COMMA_FIRST')

In [73]:
players

,TEAM_CITY,GAMES_PLAYED_FLAG,TEAM_CODE,TO_YEAR,TEAM_NAME,PLAYERCODE,DISPLAY_FIRST_LAST,PERSON_ID,FROM_YEAR,TEAM_ABBREVIATION,ROSTERSTATUS,FT_RATE15,FT_RATE14,FT_RATE13
DISPLAY_LAST_COMMA_FIRST,,,,,,,,,,,,,,
"Acy, Quincy",Sacramento,Y,kings,2016,Kings,quincy_acy,Quincy Acy,203112,2012,SAC,1,NaN,NaN,NaN
"Adams, Jordan",Memphis,Y,grizzlies,2016,Grizzlies,jordan_adams,Jordan Adams,203919,2014,MEM,1,NaN,NaN,NaN
"Adams, Steven",Oklahoma City,Y,thunder,2016,Thunder,steven_adams,Steven Adams,203500,2013,OKC,1,NaN,NaN,NaN
"Adrien, Jeff",Milwaukee,Y,bucks,2014,Bucks,jeff_adrien,Jeff Adrien,202399,2010,MIL,1,NaN,NaN,NaN
"Afflalo, Arron",New York,Y,knicks,2016,Knicks,arron_afflalo,Arron Afflalo,201167,2007,NYK,1,NaN,NaN,NaN
"Ajinca, Alexis",New Orleans,Y,pelicans,2016,Pelicans,alexis_ajinca,Alexis Ajinca,201582,2008,NOP,1,NaN,NaN,NaN
"Aldemir, Furkan",Philadelphia,Y,sixers,2014,76ers,furkan_aldemir,Furkan Aldemir,203128,2014,PHI,1,NaN,NaN,NaN
"Aldrich, Cole",LA,Y,clippers,2016,Clippers,cole_aldrich,Cole Aldrich,202332,2010,LAC,1,NaN,NaN,NaN
"Aldridge, LaMarcus",San Antonio,Y,spurs,2016,Spurs,lamarcus_aldridge,LaMarcus Aldridge,200746,2006,SAS,1,NaN,NaN,NaN
"Alexander, Cliff",Portland,Y,blazers,2016,Trail Blazers,cliff_alexander,Cliff Alexander,1626146,2015,POR,1,NaN,NaN,NaN
"Allen, Lavoy",Indiana,Y,pacers,2016,Pacers,lavoy_allen,Lavoy Allen,202730,2011,IND,1,NaN,NaN,NaN
"Allen, Ray",Miami,Y,heat,2013,Heat,ray_allen,Ray Allen,951,1996,MIA,1,NaN,NaN,NaN
"Allen, Tony",Memphis,Y,grizzlies,2016,Grizzlies,tony_allen,Tony Allen,2754,2004,MEM,1,NaN,NaN,NaN
"Aminu, Al-Farouq",Portland,Y,blazers,2016,Trail Blazers,al-farouq_aminu,Al-Farouq Aminu,202329,2010,POR,1,NaN,NaN,NaN
"Amundson, Lou",New York,Y,knicks,2016,Knicks,lou_amundson,Lou Amundson,200811,2006,NYK,1,NaN,NaN,NaN
"Andersen, Chris",Memphis,Y,grizzlies,2016,Grizzlies,chris_andersen,Chris Andersen,2365,2001,MEM,1,NaN,NaN,NaN
"Anderson, Alan",Washington,Y,wizards,2016,Wizards,alan_anderson,Alan Anderson,101187,2005,WAS,1,NaN,NaN,NaN
"Anderson, James",Sacramento,Y,kings,2015,Kings,james_anderson,James Anderson,202341,2010,SAC,1,NaN,NaN,NaN
"Anderson, Justin",Dallas,Y,mavericks,2016,Mavericks,justin_anderson,Justin Anderson,1626147,2015,DAL,1,NaN,NaN,NaN
"Anderson, Kyle",San Antonio,Y,spurs,2016,Spurs,kyle_anderson,Kyle Anderson,203937,2014,SAS,1,NaN,NaN,NaN
"Anderson, Ryan",New Orleans,Y,pelicans,2016,Pelicans,ryan_j_anderson,Ryan Anderson,201583,2008,NOP,1,NaN,NaN,NaN
"Antetokounmpo, Giannis",Milwaukee,Y,bucks,2016,Bucks,giannis_antetokounmpo,Giannis Antetokounmpo,203507,2013,MIL,1,NaN,NaN,NaN
"Antetokounmpo, Thanasis",NaN,Y,NaN,2015,NaN,thanasis_antetokounmpo,Thanasis Antetokounmpo,203648,2015,NaN,0,NaN,NaN,NaN
"Anthony, Carmelo",New York,Y,knicks,2016,Knicks,carmelo_anthony,Carmelo Anthony,2546,2003,NYK,1,NaN,NaN,NaN
"Anthony, Joel",Detroit,Y,pistons,2016,Pistons,joel_anthony,Joel Anthony,201202,2007,DET,1,NaN,NaN,NaN
"Antic, Pero",Atlanta,Y,hawks,2014,Hawks,pero_antic,Pero Antic,203544,2013,ATL,1,NaN,NaN,NaN
"Appling, Keith",NaN,Y,NaN,2015,NaN,keith_appling,Keith Appling,203951,2015,NaN,0,NaN,NaN,NaN
"Ariza, Trevor",Houston,Y,rockets,2016,Rockets,trevor_ariza,Trevor Ariza,2772,2004,HOU,1,NaN,NaN,NaN
"Armstrong, Hilton",Golden State,Y,warriors,2013,Warriors,hilton_armstrong,Hilton Armstrong,200756,2006,GSW,1,NaN,NaN,NaN
"Arthur, Darrell",Denver,Y,nuggets,2016,Nuggets,darrell_arthur,Darrell Arthur,201589,2008,DEN,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"White, DJ",Charlotte,Y,hornets,2013,Bobcats,dj_white,DJ White,201591,2008,CHA,1,NaN,NaN,NaN
"White, Royce",NaN,Y,NaN,2013,NaN,royce_white,Royce White,203091,2012,NaN,0,NaN,NaN,NaN
"Whiteside, Hassan",Miami,Y,heat,2016,Heat,hassan_whiteside,Hassan Whiteside,202355,2010,MIA,1,NaN,NaN,NaN
"Whittington, Shayne",Indiana,Y,pacers,2015,Pacers,shayne_whittington,Shayne Whittington,203963,2014,IND,1,NaN,NaN,NaN
"Wiggins, Andrew",Minnesota,Y,timberwolves,2016,Timberwolves,andrew_wiggins,Andrew Wiggins,203952,2014,MIN,1,NaN,NaN,NaN
"Wilcox, CJ",LA,Y,clippers,2016,Clippers,cj_wilcox,CJ Wilcox,203912,2014,LAC,1,NaN,NaN,NaN
"Williams, Alan",Phoenix,Y,suns,2016,Suns,alan_williams,Alan Williams,1626210,2015,PHX,1,NaN,NaN,NaN
"Williams, Deron",Dallas,Y,mavericks,2016,Mavericks,deron_williams,Deron Williams,101114,2005,DAL,1,NaN,NaN,NaN
"Williams, Derrick",New York,Y,knicks,2016,Knicks,derrick_williams,Derrick Williams,202682,2011,NYK,1,NaN,NaN,NaN
"Williams, Elliot",NaN,Y,NaN,2016,NaN,elliot_williams,Elliot Williams,202343,2010,NaN,0,NaN,NaN,NaN
"Williams, Lou",Los Angeles,Y,lakers,2016,Lakers,louis_williams,Lou Williams,101150,2005,LAL,1,NaN,NaN,NaN
"Williams, Marvin",Charlotte,Y,hornets,2016,Hornets,marvin_williams,Marvin Williams,101107,2005,CHA,1,NaN,NaN,NaN
"Williams, Mo",Cleveland,Y,cavaliers,2016,Cavaliers,maurice_williams,Mo Williams,2590,2003,CLE,1,NaN,NaN,NaN
"Williams, Reggie",San Antonio,Y,spurs,2014,Spurs,reggie_williams,Reggie Williams,202130,2009,SAS,1,NaN,NaN,NaN
"Williams, Shawne",Detroit,Y,pistons,2014,Pistons,shawne_williams,Shawne Williams,200761,2006,DET,1,NaN,NaN,NaN
"Winslow, Justise",Miami,Y,heat,2016,Heat,justise_winslow,Justise Winslow,1626159,2015,MIA,1,NaN,NaN,NaN
"Withey, Jeff",Utah,Y,jazz,2016,Jazz,jeff_withey,Jeff Withey,203481,2013,UTA,1,NaN,NaN,NaN
"Wolters, Nate",Milwaukee,Y,bucks,2014,Bucks,nate_wolters,Nate Wolters,203489,2013,MIL,1,NaN,NaN,NaN
"Wolters, Nate",NaN,Y,NaN,2014,NaN,nate_wolters,Nate Wolters,203489,2013,NaN,0,NaN,NaN,NaN
"Wood, Christian",Philadelphia,Y,sixers,2016,76ers,christian_wood,Christian Wood,1626174,2015,PHI,1,NaN,NaN,NaN
"World Peace, Metta",Los Angeles,Y,lakers,2016,Lakers,metta_world_peace,Metta World Peace,1897,1999,LAL,1,NaN,NaN,NaN
"Wright, Brandan",Memphis,Y,grizzlies,2016,Grizzlies,brandan_wright,Brandan Wright,201148,2007,MEM,1,NaN,NaN,NaN
"Wright, Chris",Milwaukee,Y,bucks,2013,Bucks,chris_wright,Chris Wright,202874,2011,MIL,1,NaN,NaN,NaN
"Wright, Delon",Toronto,Y,raptors,2016,Raptors,delon_wright,Delon Wright,1626153,2015,TOR,1,NaN,NaN,NaN
"Wright, Dorell",Portland,Y,blazers,2016,Trail Blazers,dorell_wright,Dorell Wright,2748,2004,POR,1,NaN,NaN,NaN
"Wroten, Tony",New York,Y,knicks,2016,Knicks,tony_wroten,Tony Wroten,203100,2012,NYK,1,NaN,NaN,NaN
"Young, James",Boston,Y,celtics,2016,Celtics,james_young,James Young,203923,2014,BOS,1,NaN,NaN,NaN
"Young, Joe",Indiana,Y,pacers,2016,Pacers,joe_young,Joe Young,1626202,2015,IND,1,NaN,NaN,NaN
"Young, Nick",Los Angeles,Y,lakers,2016,Lakers,nick_young,Nick Young,201156,2007,LAL,1,NaN,NaN,NaN
"Young, Thaddeus",Brooklyn,Y,nets,2016,Nets,thaddeus_young,Thaddeus Young,201152,2007,BKN,1,NaN,NaN,NaN

In [74]:
players.reset_index(inplace = True)

In [76]:
head = players.head()

In [81]:
for i, row in players.iterrows():
    playerid = int(row['PERSON_ID'])
    rate15 = ft_rate(playerid, 15)
    players.set_value(i, 'FT_RATE15',rate15)
    rate14 = ft_rate(playerid, 14)
    players.set_value(i, 'FT_RATE14',rate14)
    rate13 = ft_rate(playerid, 13)
    players.set_value(i, 'FT_RATE13',rate13)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696

In [80]:
head

,DISPLAY_LAST_COMMA_FIRST,TEAM_CITY,GAMES_PLAYED_FLAG,TEAM_CODE,TO_YEAR,TEAM_NAME,PLAYERCODE,DISPLAY_FIRST_LAST,PERSON_ID,FROM_YEAR,TEAM_ABBREVIATION,ROSTERSTATUS,FT_RATE15,FT_RATE14,FT_RATE13
0,"Acy, Quincy",Sacramento,Y,kings,2016,Kings,quincy_acy,Quincy Acy,203112,2012,SAC,1,0.735,0.784,0.625
1,"Adams, Jordan",Memphis,Y,grizzlies,2016,Grizzlies,jordan_adams,Jordan Adams,203919,2014,MEM,1,0.600,0.609,-1.000
2,"Adams, Steven",Oklahoma City,Y,thunder,2016,Thunder,steven_adams,Steven Adams,203500,2013,OKC,1,0.582,0.502,0.581
3,"Adrien, Jeff",Milwaukee,Y,bucks,2014,Bucks,jeff_adrien,Jeff Adrien,202399,2010,MIL,1,-1.000,0.579,0.520
4,"Afflalo, Arron",New York,Y,knicks,2016,Knicks,arron_afflalo,Arron Afflalo,201167,2007,NYK,1,0.840,0.841,0.815

In [82]:
players

,DISPLAY_LAST_COMMA_FIRST,TEAM_CITY,GAMES_PLAYED_FLAG,TEAM_CODE,TO_YEAR,TEAM_NAME,PLAYERCODE,DISPLAY_FIRST_LAST,PERSON_ID,FROM_YEAR,TEAM_ABBREVIATION,ROSTERSTATUS,FT_RATE15,FT_RATE14,FT_RATE13
0,"Acy, Quincy",Sacramento,Y,kings,2016,Kings,quincy_acy,Quincy Acy,203112,2012,SAC,1,0.735,0.784,0.625
1,"Adams, Jordan",Memphis,Y,grizzlies,2016,Grizzlies,jordan_adams,Jordan Adams,203919,2014,MEM,1,0.600,0.609,-1.000
2,"Adams, Steven",Oklahoma City,Y,thunder,2016,Thunder,steven_adams,Steven Adams,203500,2013,OKC,1,0.582,0.502,0.581
3,"Adrien, Jeff",Milwaukee,Y,bucks,2014,Bucks,jeff_adrien,Jeff Adrien,202399,2010,MIL,1,-1.000,0.579,0.520
4,"Afflalo, Arron",New York,Y,knicks,2016,Knicks,arron_afflalo,Arron Afflalo,201167,2007,NYK,1,0.840,0.841,0.815
5,"Ajinca, Alexis",New Orleans,Y,pelicans,2016,Pelicans,alexis_ajinca,Alexis Ajinca,201582,2008,NOP,1,0.839,0.818,0.836
6,"Aldemir, Furkan",Philadelphia,Y,sixers,2014,76ers,furkan_aldemir,Furkan Aldemir,203128,2014,PHI,1,-1.000,0.481,-1.000
7,"Aldrich, Cole",LA,Y,clippers,2016,Clippers,cole_aldrich,Cole Aldrich,202332,2010,LAC,1,0.714,0.781,0.867
8,"Aldridge, LaMarcus",San Antonio,Y,spurs,2016,Spurs,lamarcus_aldridge,LaMarcus Aldridge,200746,2006,SAS,1,0.858,0.845,0.822
9,"Alexander, Cliff",Portland,Y,blazers,2016,Trail Blazers,cliff_alexander,Cliff Alexander,1626146,2015,POR,1,0.000,-1.000,-1.000
10,"Allen, Lavoy",Indiana,Y,pacers,2016,Pacers,lavoy_allen,Lavoy Allen,202730,2011,IND,1,0.630,0.702,0.675
11,"Allen, Ray",Miami,Y,heat,2013,Heat,ray_allen,Ray Allen,951,1996,MIA,1,-1.000,-1.000,0.905
12,"Allen, Tony",Memphis,Y,grizzlies,2016,Grizzlies,tony_allen,Tony Allen,2754,2004,MEM,1,0.652,0.627,0.628
13,"Aminu, Al-Farouq",Portland,Y,blazers,2016,Trail Blazers,al-farouq_aminu,Al-Farouq Aminu,202329,2010,POR,1,0.737,0.712,0.664
14,"Amundson, Lou",New York,Y,knicks,2016,Knicks,lou_amundson,Lou Amundson,200811,2006,NYK,1,0.519,0.600,0.250
15,"Andersen, Chris",Memphis,Y,grizzlies,2016,Grizzlies,chris_andersen,Chris Andersen,2365,2001,MEM,1,0.750,0.667,0.710
16,"Anderson, Alan",Washington,Y,wizards,2016,Wizards,alan_anderson,Alan Anderson,101187,2005,WAS,1,0.733,0.812,0.780
17,"Anderson, James",Sacramento,Y,kings,2015,Kings,james_anderson,James Anderson,202341,2010,SAC,1,0.759,-1.000,0.726
18,"Anderson, Justin",Dallas,Y,mavericks,2016,Mavericks,justin_anderson,Justin Anderson,1626147,2015,DAL,1,0.800,-1.000,-1.000
19,"Anderson, Kyle",San Antonio,Y,spurs,2016,Spurs,kyle_anderson,Kyle Anderson,203937,2014,SAS,1,0.747,0.643,-1.000
20,"Anderson, Ryan",New Orleans,Y,pelicans,2016,Pelicans,ryan_j_anderson,Ryan Anderson,201583,2008,NOP,1,0.873,0.854,0.952
21,"Antetokounmpo, Giannis",Milwaukee,Y,bucks,2016,Bucks,giannis_antetokounmpo,Giannis Antetokounmpo,203507,2013,MIL,1,0.724,0.741,0.683
22,"Antetokounmpo, Thanasis",NaN,Y,NaN,2015,NaN,thanasis_antetokounmpo,Thanasis Antetokounmpo,203648,2015,NaN,0,0.000,-1.000,-1.000
23,"Anthony, Carmelo",New York,Y,knicks,2016,Knicks,carmelo_anthony,Carmelo Anthony,2546,2003,NYK,1,0.829,0.797,0.848
24,"Anthony, Joel",Detroit,Y,pistons,2016,Pistons,joel_anthony,Joel Anthony,201202,2007,DET,1,0.750,0.682,1.000
25,"Antic, Pero",Atlanta,Y,hawks,2014,Hawks,pero_antic,Pero Antic,203544,2013,ATL,1,-1.000,0.715,0.758
26,"Appling, Keith",NaN,Y,NaN,2015,NaN,keith_appling,Keith Appling,203951,2015,NaN,0,1.000,-1.000,-1.000
27,"Ariza, Trevor",Houston,Y,rockets,2016,Rockets,trevor_ariza,Trevor Ariza,2772,2004,HOU,1,0.783,0.853,0.772
28,"Armstrong, Hilton",Golden State,Y,warriors,2013,Warriors,hilton_armstrong,Hilton Armstrong,200756,2006,GSW,1,-1.000,-1.000,0.438
29,"Arthur, Darrell",Denver,Y,nuggets,2016,Nuggets,darrell_arthur,Darrell Arthur,201589,2008,DEN,1,0.755,0.780,0.855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,"White, DJ",Charlotte,Y,hornets,2013,Bobcats,dj_white,DJ White,201591,2008,CHA,1,-1.000,-1.000,0.000
668,"White, Royce",NaN,Y,NaN,2013,NaN,royce_white,Royce White,203091,2012,NaN,0,-1.000,-1.000,0.000
669,"Whiteside, Hassan",Miami,Y,heat,2016,Heat,hassan_whiteside,Hassan Whiteside,202355,2010,MIA,1,0.650,0.500,-1.000
670,"Whittington, Shayne",Indiana,Y,pacers,2015,Pacers,shayne_whittington,Shayne Whittington,203963,2014,IND,1,0.500,0.783,-1.000
671,"Wiggins, Andrew",Minnesota,Y,timberwolves,2016,Timberwolves,andrew_wiggins,Andrew Wiggins,203952,2014,MIN,1,0.761,0.760,-1.000
672,"Wilcox, CJ",LA,Y,clippers,2016,Clippers,cj_wilcox,CJ Wilcox,203912,2014,LAC,1,0.750,1.000,-1.000
673,"Williams, Alan",Phoenix,Y,suns,2016,Suns,alan_williams,Alan Williams,1626210,2015,PHX,1,0.643,-1.000,-1.000
674,"Williams, Deron",Dallas,Y,mavericks,2016,Mavericks,deron_williams,Deron Williams,101114,2005,DAL,1,0.869,0.834,0.801
675,"Williams, Derrick",New York,Y,knicks,2016,Knicks,derrick_williams,Derrick Williams,202682,2011,NYK,1,0.758,0.684,0.875
676,"Williams, Elliot",NaN,Y,NaN,2016,NaN,elliot_williams,Elliot Williams,202343,2010,NaN,0,0.750,0.500,0.731
677,"Williams, Lou",Los Angeles,Y,lakers,2016,Lakers,louis_williams,Lou Williams,101150,2005,LAL,1,0.830,0.861,0.849
678,"Williams, Marvin",Charlotte,Y,hornets,2016,Hornets,marvin_williams,Marvin Williams,101107,2005,CHA,1,0.833,0.713,0.781
679,"Williams, Mo",Cleveland,Y,cavaliers,2016,Cavaliers,maurice_williams,Mo Williams,2590,2003,CLE,1,0.905,0.851,0.876
680,"Williams, Reggie",San Antonio,Y,spurs,2014,Spurs,reggie_williams,Reggie Williams,202130,2009,SAS,1,-1.000,1.000,0.000
681,"Williams, Shawne",Detroit,Y,pistons,2014,Pistons,shawne_williams,Shawne Williams,200761,2006,DET,1,-1.000,0.848,0.700
682,"Winslow, Justise",Miami,Y,heat,2016,Heat,justise_winslow,Justise Winslow,1626159,2015,MIA,1,0.684,-1.000,-1.000
683,"Withey, Jeff",Utah,Y,jazz,2016,Jazz,jeff_withey,Jeff Withey,203481,2013,UTA,1,0.729,0.680,0.712
684,"Wolters, Nate",Milwaukee,Y,bucks,2014,Bucks,nate_wolters,Nate Wolters,203489,2013,MIL,1,-1.000,0.250,0.656
685,"Wolters, Nate",NaN,Y,NaN,2014,NaN,nate_wolters,Nate Wolters,203489,2013,NaN,0,-1.000,0.250,0.656
686,"Wood, Christian",Philadelphia,Y,sixers,2016,76ers,christian_wood,Christian Wood,1626174,2015,PHI,1,0.619,-1.000,-1.000
687,"World Peace, Metta",Los Angeles,Y,lakers,2016,Lakers,metta_world_peace,Metta World Peace,1897,1999,LAL,1,0.702,-1.000,0.625
688,"Wright, Brandan",Memphis,Y,grizzlies,2016,Grizzlies,brandan_wright,Brandan Wright,201148,2007,MEM,1,0.542,0.750,0.726
689,"Wright, Chris",Milwaukee,Y,bucks,2013,Bucks,chris_wright,Chris Wright,202874,2011,MIL,1,-1.000,-1.000,0.400
690,"Wright, Delon",Toronto,Y,raptors,2016,Raptors,delon_wright,Delon Wright,1626153,2015,TOR,1,0.743,-1.000,-1.000
691,"Wright, Dorell",Portland,Y,blazers,2016,Trail Blazers,dorell_wright,Dorell Wright,2748,2004,POR,1,-1.000,0.810,0.754
692,"Wroten, Tony",New York,Y,knicks,2016,Knicks,tony_wroten,Tony Wroten,203100,2012,NYK,1,0.541,0.667,0.641
693,"Young, James",Boston,Y,celtics,2016,Celtics,james_young,James Young,203923,2014,BOS,1,0.250,0.552,-1.000
694,"Young, Joe",Indiana,Y,pacers,2016,Pacers,joe_young,Joe Young,1626202,2015,IND,1,0.800,-1.000,-1.000
695,"Young, Nick",Los Angeles,Y,lakers,2016,Lakers,nick_young,Nick Young,201156,2007,LAL,1,0.829,0.892,0.825
696,"Young, Thaddeus",Brooklyn,Y,nets,2016,Nets,thaddeus_young,Thaddeus Young,201152,2007,BKN,1,0.644,0.682,0.712

In [83]:
list(players)

['DISPLAY_LAST_COMMA_FIRST',
 'TEAM_CITY',
 'GAMES_PLAYED_FLAG',
 'TEAM_CODE',
 'TO_YEAR',
 'TEAM_NAME',
 'PLAYERCODE',
 'DISPLAY_FIRST_LAST',
 'PERSON_ID',
 'FROM_YEAR',
 'TEAM_ABBREVIATION',
 'ROSTERSTATUS',
 'FT_RATE15',
 'FT_RATE14',
 'FT_RATE13']

In [86]:
players.to_csv('all_players.csv')